### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#First I'm going to pull the number itself.
player_count = len(purchase_data.SN.unique())

#Putting the player count into a df in order to stay consistent with the way 
#the answer was returned in the notebook before starting.
player_count_df = pd.DataFrame([{"Player Count": player_count}])
player_count_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#First, I'm defining each vvariablbe and pulling the values into the variables
num_unique = len(purchase_data["Item ID"].unique())
avg_price = purchase_data.Price.mean()
num_purchases = len(purchase_data.axes[0])
total_revanue = purchase_data.Price.sum()

#Creating the summary df to hold all the variables defined above 
purchasing_summary_df = pd.DataFrame([{"Number of Unique Items": num_unique, 
                        "Average Price":avg_price, 
                        "Number of Purchases": num_purchases, 
                        "Total Revenue":total_revanue}])

#Formatting the display of Average Price and Total Revenue to be more readable
purchasing_summary_df["Average Price"] = purchasing_summary_df["Average Price"].map("${:.2f}".format)
purchasing_summary_df["Total Revenue"] = purchasing_summary_df["Total Revenue"].map("${:,}".format)

#Displaying the df
purchasing_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Here I am dropping duplicates from the "SN" column to make sure our count by gender is accurate
unique_purchase_data = purchase_data.drop_duplicates(subset="SN", keep="first")

#Now we groupby "Gender" and call the count function to get a count of users that are within each category of "Gender"
grouped_gender_purchase_data = unique_purchase_data.groupby(["Gender"]).count()

#Adding columns with our Total Counts and Percentage of Players in that gender category
grouped_gender_purchase_data["Total Count"] = grouped_gender_purchase_data.iloc[:,0]
grouped_gender_purchase_data["Percentage of Players"] = (grouped_gender_purchase_data["Total Count"]/player_count)*100

#Cleaning up data frame to display only our new columns
grouped_gender_purchase_data = grouped_gender_purchase_data[["Total Count","Percentage of Players"]]

#Formatting percentage column to be readable
grouped_gender_purchase_data["Percentage of Players"] = grouped_gender_purchase_data["Percentage of Players"].map("{0:.2f}%".format)

#Display the df
grouped_gender_purchase_data.head()

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#First, I'm defining each vvariablbe and pulling the values into the variables
purchase_count = purchase_data["Gender"].value_counts()
gender_purchase_price = purchase_data.groupby(["Gender"]).sum()
avg_purchase_total = gender_purchase_price["Price"]/grouped_gender_purchase_data["Total Count"]
avg_purchase_price = purchase_data.groupby(["Gender"]).mean()
avg_purchase_price = avg_purchase_price["Price"]

#Creating the summary df to hold all the variables defined above 
gender_purchase_summary_df = pd.DataFrame(
     {"Purchase Count": purchase_count,
      "Average Purchase Price":avg_purchase_price, 
      "Total Purchase Value": gender_purchase_price["Price"], 
      "Avg Total Purchase per Person":avg_purchase_total})

#Formatting the display of Average Price and Total Revenue to be more readable
gender_purchase_summary_df["Average Purchase Price"] = gender_purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_summary_df["Total Purchase Value"] = gender_purchase_summary_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_summary_df["Avg Total Purchase per Person"] = gender_purchase_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)

#Displaying the df
gender_purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
#Creating bins
age_min = float((purchase_data["Age"].min()) -3)
age_max = float((purchase_data["Age"].max())+3)
bins = [age_min, 12, 19, 29, 39, age_max]

bin_names = ["Pre-teens", "Teens", "Adults in their 20s", 
             "Adults in their 30s", "Adults over 40"]
#Categorizing the players into the bins
unique_purchase_data.loc[:,["Age Category"]] = pd.cut(unique_purchase_data["Age"], bins, labels = bin_names, include_lowest = True)

#Calculating numbers and percentages by Age Group
#Now we groupby "Age Category" and call the count function to get a count of users that are within each category of "Gender"
grouped_unique_purchase_data = unique_purchase_data.groupby(["Age Category"]).count()

#Adding columns with our Total Counts and Percentage of Players in that gender category
grouped_unique_purchase_data["Total Count"] = grouped_unique_purchase_data.iloc[:,0]
grouped_unique_purchase_data["Percentage of Players"] = (grouped_unique_purchase_data["Total Count"]/player_count)*100

#Cleaning up data frame to display only our new columns
grouped_unique_purchase_data = grouped_unique_purchase_data[["Total Count","Percentage of Players"]]

#Formatting percentage column to be readable
grouped_unique_purchase_data["Percentage of Players"] = grouped_unique_purchase_data["Percentage of Players"].map("{0:.2f}%".format)

#Display the df
grouped_unique_purchase_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

                     Total Count Percentage of Players
Age Category
Pre-teens                     34                 5.90%
Teens                        112                19.44%
Adults in their 20s          335                58.16%
Adults in their 30s           83                14.41%
Adults over 40                12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#Binning the purchase data
age_purchase_data = purchase_data
age_purchase_data.loc[:,["Age Category"]] = pd.cut(unique_purchase_data["Age"], bins, labels = bin_names, include_lowest = True)

#First, I'm defining each vvariablbe and pulling the values into the variables
age_purchase_count = age_purchase_data["Age Category"].value_counts()
age_purchase_price = age_purchase_data.groupby(["Age Category"]).sum()
avg_purchase_total_age = age_purchase_price["Price"]/grouped_unique_purchase_data["Total Count"]
avg_purchase_price_age = age_purchase_data.groupby(["Age Category"]).mean()
avg_purchase_price_age = avg_purchase_price_age["Price"]

#Creating the summary df to hold all the variables defined above 
age_purchase_summary_df = pd.DataFrame(
     {"Purchase Count": age_purchase_count,
      "Average Purchase Price":avg_purchase_price_age, 
      "Total Purchase Value": age_purchase_price["Price"], 
      "Avg Total Purchase per Person":avg_purchase_total_age})

#Formatting the display of Average Price and Total Revenue to be more readable
age_purchase_summary_df["Average Purchase Price"] = age_purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
age_purchase_summary_df["Total Purchase Value"] = age_purchase_summary_df["Total Purchase Value"].map("${:,.2f}".format)
age_purchase_summary_df["Avg Total Purchase per Person"] = age_purchase_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)

#Displaying the df
age_purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Pre-teens,34,$3.23,$109.94,$3.23
Teens,112,$3.10,$347.21,$3.10
Adults in their 20s,335,$3.03,"$1,014.32",$3.03
Adults in their 30s,83,$3.14,$260.73,$3.14
Adults over 40,12,$3.04,$36.45,$3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame